body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'main sidebar'
        'footer footer';
    grid-template-columns: 3fr 1fr; /* Task 3*/
    grid-template-rows: 80px 1fr 80px; /* Task 3*/
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    grid-area: main;
    background-color: #f1f1f1;  
    padding: 1rem;
}

aside {
    grid-area: sidebar;
    background-color: #ccc;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}


/* Task 2 */


@media (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            'header'
            'main'
            'sidebar'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr auto 80px; /* Task 3*/
    }
}